:root {
	--bg-color: #f7f7f7;
	--border-text-color: #0f0f0f;
	--main-color: #D9513F;
	--dark-color: #8C3B30;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #0f0f0f;
		--border-text-color: #f7f7f7;
		--main-color: #BADA55;
		--dark-color: #758C29;
	}
}

/* standardize tables */
table {
	table-layout: fixed;
}

/* fade link hover */
a {
	-webkit-transition: color 0.5s ease-in; /*safari and chrome */
	-moz-transition: color 0.5s ease-in; /* firefox */
	-o-transition: color 0.5s ease-in; /* opera */
}

/* set standards */
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
