@import '_reset';
@import '_defaults';

/* general */
body {
	background-color: #f7f7f7;
}
hr {
	margin: 16px 0;
}
ul {
	list-style-type: disc;
    margin-left: 2em;
}
ul ul {
    margin-left: 4em;
}
dl {
    columns: 2;
}
dt, dd {
	display: block;
    width: 100%;
}
dd:after {
	content: " ";
	display:block;
}
h2 {
	border-bottom: 1px solid #0f0f0f;
    margin: .5em 0;
}
article, dl {
	margin: .25em 0;
}
header, footer {
	overflow: hidden;
	text-align: center;
}
section header {
	text-align: left;
}

.dates {
	float: right;
    margin-left: 20px;
}

.skills {
	display: inline-block;
	list-style-type: none;
}
.skills li { display: inline-block; }
.skills li:after { content: ", "; }
.skills li:last-child:after { content: ""; }

/* layout */
#wrapper {
	margin: 10px auto;
	max-width: 980px;
}
#meta {
	margin-top: 20px;
}

/* typography */
body {
	color: #0f0f0f;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
h1, h2, h3, h4, strong, dt {
	font-weight: bold;
}
h1, h2, h3 {
	display: inline-block;
}
h1 {
	font-size: 2.25em;
	line-height: 1.5em;
}
h2 {
	font-size: 2em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.5em;
}
a {
	color: #e00;
	text-decoration: none;
}
a:hover {
	color: #333;
}
time {
	font-style: italic;
}

/* Media Queries */
@media (max-width: 980px) {
	#wrapper {
		padding: 0 10px;
	}

    dl {
        columns: 1;
    }
}
@media (max-width: 480px) {
	.phone-break {
		display: block;
		height: 1px;
		overflow: hidden;
	}
}
@media print {
    dl {
        columns: 2;
    }
    #meta {
		display: none;
	}
}
